# Dependencias
node_modules/

# Archivos de compilación
dist/
build/

# Directorios de pruebas
coverage/

# Archivos de configuración del entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Directorios de caché
.cache/
.pnp/
.pnp.js

# Varios
.DS_Store
Thumbs.db

# Archivos de editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*~
.project
.settings/
.classpath
.c9/

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

